body {
  color: #40514e;
  height: 100%;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

p {
  line-height: 2;
  padding-bottom: 8px;
}

hr {
  border: 6px dotted #EAF6F6;
  width: 4%;
  margin-top: 1px;
  border-bottom: none;
  margin: 100px auto;
}

a {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
  min-height: 100vh;
  width: 100%;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.dev {
  text-decoration: underline;
}

.intro {
  width: 30%;
  text-align: center;
  margin: auto;
}

.cloud1 {
  position: absolute;
  right: 300px;
  top: 40px;
}

.cloud2 {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.mountain{
  float: inherit;
  margin: 173px 0 0 0;

}
.skill-row {
  width: 50%;
  margin: 0 auto 100px auto;
  text-align: left;
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.microbiology-pic {
  margin-left: auto;
  margin-right: 16px;
  width: 120px;
  float: left;
}

.data-pic {
  margin-left: 16px;
  margin-right: auto;
  width: 120px;
  float: right;
}

.mybutton {
  background: linear-gradient(to bottom, #11cdd4 5%, #11999e 100%);
  background-color: #11999E;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0 1px 0 #2f6627;
}

.mybutton:hover {
  background: linear-gradient(to bottom, #30e3cb 5%, #2bc4ad 100%);
  background-color: #11999E;
}

.mybutton:active {
  position: relative;
  top: 1px;
}

.contactme {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.attribs {
  margin: 1px;
}
